$minWidth: 100px;
$minHeight: 56px;

@import '../../styles/mixins.scss';

.cui-list {
  display: block;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    flex-direction: row;

    &_item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      min-height: 42px;
      min-width: $minWidth;
      flex: 1;
      flex-basis: var(--itemWidth);

      &.has-icon {
        .cui-node {
          padding-left: 1.5rem !important;
        }
      }

      &.toggle {
        min-width: 50px;
        margin-left: auto;
      }

      .cui-list__sort--btn {
        margin-right: 0.4rem;
        padding: 0;
        align-self: flex-end;
        margin-bottom: 0.525em;
        outline: none !important;
        appearance: none;
        vertical-align: middle;

        .MuiSvgIcon-root {
          width: 1rem;
          height: 1rem;
        }
      }

      .cui-node {
        color: var(--color-gray3);
        font-size: 0.825rem !important;
        text-align: inherit;
        text-transform: capitalize;
        flex: 1;
        position: relative;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-width: $minWidth;
    min-height: $minHeight;

    @include shadowy;

    & + .cui-list__item {
      margin-top: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .cui-node {
      display: flex;
      min-width: $minWidth;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
      flex-wrap: wrap;
      flex: 1;
      flex-basis: var(--itemWidth);
      color: var(--color-main);

      &.toggle {
        min-width: 50px;
        margin-left: auto;
        align-items: center;

        .cui-toggle {
          display: flex;
          padding: 0.5rem;
          outline: none;

          svg {
            transition: all 0.3s ease-in-out;
          }

          &.active {
            svg {
              transform: rotate(-180deg);
            }
          }
        }
      }
    }

    &.active-inner {
      border-left: 4px solid var(--color-green);
    }
  }

  &__inner-content-divider {
    margin: 0 1.5rem;
  }

  &__item_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: $minHeight;
  }

  &__item_innercontent {
    padding: 1rem 1.5rem;
  }

  &__item-error {
    color: var(--color-red);
  }

  .cui-node {
    font-size: 0.875rem;
    padding: 0.725em 1.5em 0.525em;
    line-height: 1.5em;

    &#node-primary {
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 2px solid var(--color-green);
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        left: 100%;
        top: 1.55em;

        z-index: 10;
      }

      &:after {
        content: '';
        display: inline-block;
        width: 1px;
        border-left: 1px solid #e7ecef;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(100% + 3px);
        z-index: 9;
      }
    }
  }

  .cui-button {
    font-size: 0.875rem;
  }

  &__group-title {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
}

.MuiPagination-root {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;

  .MuiPaginationItem-root {
    color: var(--color-main);

    &:hover {
      border-radius: 8px;
    }

    &.Mui-selected {
      border-radius: 4px;
      background: var(--color-green);
      color: #fff;
    }
  }
}

@include responsiveScreenMobile {
  .cui-list {
    &.use-mobile-layout {
      .cui-list__header {
        display: none;
      }

      .cui-list__items {
        padding: 1rem;

        .cui-list__item {
          box-shadow: 0 0 8px rgba(206, 213, 220, 0.65);
          padding: 1rem;

          & + .cui-list__item {
            margin-top: 1rem;
          }

          .cui-list__item_container {
            flex-direction: column;
          }

          .cui-node {
            padding: 0;

            & > * {
              flex: 1;
            }

            & + .cui-node {
              padding-top: 1rem;
            }

            &.is-primary-key {
              font-weight: 600;
            }
          }
        }
      }
    }

    &__item {
      box-shadow: none;

      &_container {
        border: none;
      }

      & + .cui-list__item {
        margin-top: 0;
      }

      .cui-node {
        justify-content: flex-start;
      }

      &:first-child {
        .cui-node {
          &#node-primary {
            &:after {
              height: calc(100% - 1.55em);
              top: 1.55em;
            }
          }
        }
      }

      &:last-child {
        .cui-node {
          &#node-primary {
            &:after {
              height: calc(100% - (100% - 1.55em));
            }
          }
        }
      }

      &:only-child {
        .cui-node {
          &#node-primary {
            &:after {
              height: 0;
            }
          }
        }
      }
    }
  }
}
