.nav-header {
  justify-content: space-between;
  background-color: #ffffff;
  color: #333747;
  font-weight: 600;

  &__menu {
    display: flex;
    align-items: center;

    .user-name {
      margin-right: 10px;
      font-weight: 600;
    }

    .user-logout {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .menu-notification {
      display: flex;
      align-content: center;
      margin-left: 10px;
    }
  }
}
