.table {
  &-cell {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
    padding: 5px;
    word-break: break-all;
    min-height: 35px;
  }

  &-col2 {
    .table-cell {
      width: 50%;
    }
  }

  &-col3 {
    .table-cell {
      width: 33.33%;
    }
  }

  &-col4 {
    .table-cell {
      width: 25%;
    }
  }

  &-col5 {
    .table-cell {
      width: 20%;
    }
  }

  &-col6 {
    .table-cell {
      width: calc(100% / 6);
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid #ddd;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    .DayPicker-Day {
      &:not(.DayPicker-Day--disabled) {
        &:hover {
          background: #ddd !important;
        }
      }
    }

    .DayPicker-Day--outside {
      &:not(.DayPicker-Day--disabled) {
        color: #333;
        cursor: pointer;

        &:hover {
          background: #ddd;
        }
      }
    }

    &__header,
    &__body {
      display: flex;
      width: 100%;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    &__header {
      .table-cell {
        font-weight: 600;
      }
    }

    &__body {
      flex-direction: column;

      &--row {
        display: flex;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
